---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="FASHION |GORAN_NASAI|">
<div id="wrap">
  <header>
    <ul>
        <li class="btn current">
            <a href="#">
            <div class="icon"><img src="/img/web.svg"
                width="50" 
                height="50"
                alt="web"/></div>
            WEB</a></li>
        <li class="btn">
            <a href="/fashion">
            <div class="icon"><img src="/img/sneaker.svg"
                width="50" 
                height="50"
                alt="fashion"/></div>
       FASHION</a></li>
        <li class="btn">
            <a href="/stories">
            <div class="icon"><img src="/img/stories.svg"
                width="50" 
                height="50"
                alt="stories"/></div>
       STORIES</a></li>
    </ul>
</header>

<main>
  <div class="bread">
    <a href="/index.html">トップ</a>
    <a class="current">FASHION</a>
  </div>
  <h1>GORAN_NASAIの<span>好きなファッション</span>をまとめます。</h1>
  <p class="txt">ブランドのメモを、買ったものを寄せ集めながら残していこうかなと。イイものをイイ感じに溜めていきたい。海外のスタイリングとかも。</p>

  <p class="tit">ブランド一覧</p>
  <ul class="theme">
    <li>A-COLD-WALL*</li>
    <li>CELINE</li>
    <li>Drôle de Monsieur</li>
    <li>JIL SANDER</li>
    <li>JW Anderson</li>
    <li>KENZO PARIS</li>
    <li>LOEWE</li>
    <li>NIKE</li>
    <li>OAMC</li>
    <li>vintage frame</li>
  </ul>
</main>

  <footer>
    <a href="/">トップへ戻る</a>
  </footer>

  </div>
</Layout>