---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="WEB |GORAN_NASAI|">
<div id="wrap">
  <header>
    <ul>
        <li class="btn current">
            <a href="#">
            <div class="icon"><img src="/img/web.svg"
                width="50" 
                height="50"
                alt="web"/></div>
            WEB</a></li>
        <li class="btn">
            <a href="/fashion">
            <div class="icon"><img src="/img/sneaker.svg"
                width="50" 
                height="50"
                alt="fashion"/></div>
       FASHION</a></li>
        <li class="btn">
            <a href="/stories">
            <div class="icon"><img src="/img/stories.svg"
                width="50" 
                height="50"
                alt="stories"/></div>
       STORIES</a></li>
    </ul>
</header>

  <main>
    <div class="bread">
      <a href="/">トップ</a>
      <a class="current">WEB</a>
    </div>
    <h1>GORAN_NASAIが<span>WEBについて</span>書き綴ります</h1>
    <p class="txt">コンテンツ準備中。</p>
  </main>

  <footer>
    <a href="/">トップへ戻る</a>
  </footer>

  </div>
</Layout>